*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-weight: 300;
}

body {
  background-color: var(--theme-background);
  color: var(--font-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.main-container {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem 4rem;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem 1rem;
}
